* {
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vh;
}

.App div {
  flex: 1 40%;
}

.form-content {
  align-items: center;
  background-color: rgba(250, 250, 250, 1);
  display: flex;
  justify-content: center;
}

.card-content {
  align-items: center;
  background-color: rgb(38, 98, 99);
  display: flex;
  justify-content: center;
}

.card-deck {
  align-items: center;
  background: #eee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10px;
  width: 100%;
}

.cards {
  align-content: flex-start;
  display: flex;
  flex: 1 60%;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
