.Form {
  color: #444955;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
}

.Form h1 {
  padding-bottom: 10px;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.img-label span, .card-attributes label span {
  padding-right: 10px;
}

.Form label span {
  font-size: 15px;
  font-weight: 700;
}

label input, label textarea, label select {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px;
}

.Form label textarea {
  height: 50px;
}

.card-attributes {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-attributes label, .img-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.img-label input, .card-attributes label input {
  border: 1px solid #aaa;
  border-radius: 3px;
  flex: 1 50%;
}


.trunfo-checkbox {
  display: flex;
  flex-direction: row;
}
